<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureBank">

        <!-- EXPORTED ROUTER: Accessible by any app on the phone -->
        <activity
            android:name=".PaymentRouterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- UNEXPORTED SENSITIVE ACTIVITY: Cannot be launched directly by outside apps -->
        <activity
            android:name=".TransferMoneyActivity"
            android:exported="false"
            android:parentActivityName=".PaymentRouterActivity" />

    </application>

</manifest>